* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: black;
  display: grid;
  grid-template-columns: 0px 1fr;
  grid-template-rows: 3.5rem 1fr 5rem;
  grid-template-areas: "navbar navbar" "sidebar main" "foot foot";
}

.navbar {
  grid-area: navbar;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.navbar input {
  display: none;
}
.navbar i {
  font-size: clamp(1.5rem, 8vw, 1.8rem);
  opacity: 0.7;
}
.navbar h2 {
  font-size: clamp(1.5rem, 8vw, 2rem);
}

.sidebar {
  grid-area: sidebar;
  background-color: blue;
  position: fixed;
  top: 3.5rem;
  height: calc(100vh - 5rem);
  width: 60%;
  max-width: 300px;
}
.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  width: 100%;
  font-size: 1.5rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.main {
  grid-area: main;
  background-color: sienna;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px - 80px);
}
.main .greet {
  background-image: url(assets/poster.jpg);
  background-size: cover;
  background-position: center;
  padding: 1rem;
  background-color: black;
  color: white;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 15px;
}
.main .greet .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main .greet h1 {
  font-size: clamp(1.5rem, 6vw, 3rem);
}
.main .greet p {
  font-size: clamp(1rem, 4vw, 1rem);
  font-weight: 400;
}
.main .greet button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: none;
  background: linear-gradient(to right, #e100ff, #7f00ff);
  color: white;
}
.main .greet button i {
  font-size: 1.5rem;
}
.main .titles {
  display: none;
}
.main .song-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}
.main .song-list .song-list::-webkit-scrollbar {
  display: none;
}
.main .song-list .song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
}
.main .song-list .song .details {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
}
.main .song-list .song .details img {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
}
.main .song-list .song .details .name h5 {
  font-size: 1.2rem;
  color: white;
}
.main .song-list .song .details .name p {
  font-weight: 400;
  color: white;
  opacity: 0.7;
}
.main .song-list .song .duration p {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  opacity: 0.7;
}

.foot {
  grid-area: foot;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
.foot .laptop {
  display: none;
}
.foot .mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.foot .mobile .details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.foot .mobile .details img {
  width: 3rem;
  height: 3rem;
}
.foot .mobile .details .name {
  color: white;
}
.foot .mobile .details .name h5 {
  font-size: 1.1rem;
}
.foot .mobile .details .name p {
  font-weight: 500;
  opacity: 0.6;
}
.foot .mobile i {
  font-style: normal;
  font-size: 3rem;
}
.foot .mobile .pause {
  display: none;
}
.foot .m-progress-bar {
  width: 100%;
  background-color: blue;
  height: 0.3rem;
  display: flex;
  align-items: center;
}
.foot .m-progress-bar input {
  --progress: 0%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00E5FF 0%, #22C55E var(--progress), #000 var(--progress), #000 100%);
}
.foot .m-progress-bar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}
.foot .m-progress-bar input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}

@media (min-width: 1020px) {
  body {
    grid-template-columns: 15rem 1fr;
    grid-template-areas: "sidebar navbar" "sidebar main" "foot foot";
  }
  .navbar {
    justify-content: flex-end;
  }
  .navbar .menu {
    display: none;
  }
  .navbar h2 {
    display: none;
  }
  .navbar .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    width: 40%;
  }
  .navbar .search-bar input {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: black;
    color: white;
  }
  .hide {
    display: block;
  }
  .sidebar {
    top: 0;
    width: 15rem;
    padding: 1rem;
  }
  .sidebar .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    width: 100%;
    font-size: 1.5rem;
  }
  .sidebar .options {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .sidebar .options .optn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 0.5rem;
    color: white;
  }
  .sidebar .options .optn i {
    font-size: 1.2rem;
  }
  .sidebar .options .optn h4 {
    font-size: 1rem;
  }
  .sidebar .options .optn:hover {
    background-color: rgba(136, 18, 254, 0.4235294118);
    border-radius: 8px;
  }
  .main .titles {
    padding: 1rem 1.5rem;
    padding-bottom: 0;
    font-weight: 400;
    color: white;
    opacity: 0.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .main .titles .duration {
    text-align: end;
  }
  .main .song-list .song {
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "detail duration";
  }
  .main .song-list .song .details {
    grid-area: detail;
  }
  .main .song-list .song .duration {
    grid-area: duration;
  }
  .main .song-list .song .duration p {
    text-align: end;
  }
  .foot .mobile {
    display: none;
  }
  .foot .laptop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
  }
  .foot .laptop .details {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .foot .laptop .details img {
    width: 3rem;
    height: 3rem;
  }
  .foot .laptop .details .name {
    color: white;
  }
  .foot .laptop .details .name h5 {
    font-size: 1.1rem;
  }
  .foot .laptop .details .name p {
    font-weight: 500;
    opacity: 0.6;
  }
  .foot .laptop .btns {
    font-size: 3rem;
    color: white;
    display: flex;
    gap: 1.5rem;
  }
  .foot .laptop .controls {
    display: flex;
    gap: 3rem;
  }
  .foot .laptop .controls .l-progress-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
  }
  .foot .laptop .controls .volume-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */